.messagebox-admin {
    width: 80%;
    padding: 2%;
    margin: 2%;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.box {
    height: 370px;
    margin-top: 15px;
    overflow: auto;
}

.adminIcon {
    width: 15%;
}

.info-box{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}